{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Game</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{game.name }}">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{game.description}}</textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" maxlength="10" class="form-control" name="price" value="{{game.price}}">
					</div>
					<label for="genre">Genre:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="genre" id="genre1" value="Action" {% if game.genre == 'Action'%}checked{%endif%}>Action
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="genre" id="genre2" value="RPG" {% if game.genre == 'RPG' %}checked{%endif%}>RPG
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="genre" id="genre3" value="Survival" {% if game.genre == 'Survival'%}checked{%endif%}>Survival
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="genre" id="genre4" value="Platform" {%if game.genre =='Platform'%}checked{%endif%}>Platform
					  </label>
					</div>
					<div class="radio">
							<label>
								<input type="radio" name="genre" id="genre5" value="Simulator" {%if game.genre =='Simulator'%}checked{%endif%}>Simulator
							</label>
						</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showGameshops')}}'>
						<button class="btn btn-default delete" type="button">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}